.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 480px;
    height:750px;
    border: 1px solid black;
    border-radius: 20px;
    border-top-style: none;
}

