.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 530px;
    min-height: 530px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30vh;
    border-top-style: none;
}

